* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: rgba(243, 174, 26, 0.705);
    color: black; }

body {
  background: whitesmoke;
  font-family: monospace;
  min-height: 100vh; }

/*-----------INDEX----*/
.pagina-principal {
  display: flex;
  min-height: 98vh;
  flex-direction: column; }
  .pagina-principal .principal {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pagina-principal .principal .imagen-principal {
      margin-top: 30px;
      max-width: 100%;
      max-height: 100%; }

/*------Pagina Nosotros----*/
.grid-container-nosotros {
  display: flex;
  flex-direction: column;
  min-height: 98vh; }
  .grid-container-nosotros .nosotros-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px; }
    .grid-container-nosotros .nosotros-container .container-imagen-nosotros {
      overflow: hidden; }
      .grid-container-nosotros .nosotros-container .container-imagen-nosotros .nosotros-imagen {
        width: auto;
        height: 400px;
        object-fit: cover;
        margin-bottom: 50px; }
        .grid-container-nosotros .nosotros-container .container-imagen-nosotros .nosotros-imagen:hover {
          transform: scale(1.2);
          transition: 3s; }
    .grid-container-nosotros .nosotros-container .titulo-nosotros {
      text-align: center;
      font-family: monospace;
      margin-top: 10px; }
    .grid-container-nosotros .nosotros-container .texto-nosotros {
      text-align: justify;
      margin-top: 10px;
      margin-bottom: 10px; }

/*-----------LUGARES ----*/
.lugares {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  .lugares .titulo-viajes {
    text-align: center;
    font-family: monospace;
    margin-top: 10px; }
  .lugares .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    padding: 20px;
    grid-gap: 10px; }
    .lugares .grid-container .grid-item {
      position: relative; }
      .lugares .grid-container .grid-item .grid-imagen {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .lugares .grid-container .grid-item .texto-galeria {
        position: absolute;
        bottom: 0;
        color: white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(58, 57, 57, 0.9); }
        .lugares .grid-container .grid-item .texto-galeria p,
        .lugares .grid-container .grid-item .texto-galeria h3 {
          font-size: 18px;
          font-family: monospace; }
        .lugares .grid-container .grid-item .texto-galeria h2 {
          font-size: 24px;
          font-family: monospace; }
        .lugares .grid-container .grid-item .texto-galeria i {
          margin-top: 30px; }
        .lugares .grid-container .grid-item .texto-galeria:hover {
          display: none; }
        .lugares .grid-container .grid-item .texto-galeria .fa-sharp {
          color: whitesmoke;
          font-size: xx-large; }

/*pagina de Viajes----*/
.pagina-lugares {
  display: grid; }

.titulo-mobile, .subtitulo-mobile {
  display: none; }

.grid-container-lugares {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 50px;
  padding: 50px; }

.carousel-item img {
  height: 500px;
  object-fit: cover; }

/*----pagina de contacto---*/
.navbar ol,
.navbar ul {
  list-style: none; }
  .navbar ol a,
  .navbar ol a:active,
  .navbar ul a,
  .navbar ul a:active {
    text-decoration: none !important;
    color: black !important;
    border: 3px solid transparent; }
    .navbar ol a:hover,
    .navbar ol a:active:hover,
    .navbar ul a:hover,
    .navbar ul a:active:hover {
      background-color: rgba(243, 174, 26, 0.705); }

.titulo h1 {
  margin: 30px 10px 0px 20px;
  font-size: 24px; }

.titulo h2 {
  margin: 0px 10px 1px 70px;
  font-size: 18px; }

#subtitulo {
  margin: 0px 0px 20px 50px;
  font-size: 24px; }

.linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 800px;
  padding: 0;
  margin: 20px auto 0 auto; }

.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px; }
  .footer .redes {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: end; }
  .footer .redes a,
  .footer i {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px 0 10px;
    color: black; }
  .footer .redes a,
  .footer i:hover {
    transform: scale(1.5);
    color: rgba(243, 174, 26, 0.705);
    transition: all 1s ease; }

#contacto {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 28px;
  line-height: 0; }

#contacto-subtitulo {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 24px;
  line-height: 0; }

.titulo-formulario h1 {
  text-align: center;
  font-size: xx-large; }

.ibody {
  background-image: url(../images/los_gigantes/gigantes_noche_estrellas.jpeg);
  background-size: cover;
  margin: 40px auto;
  margin-bottom: 60px;
  width: 500px;
  font-family: monospace;
  border: 1px solid #bfd8eb;
  border-radius: 8px;
  color: whitesmoke; }

label,
input[type="submit"] {
  margin-top: 8px; }

.fcontacto {
  padding: 14px; }

#footer {
  display: flex;
  margin-top: auto;
  justify-content: start;
  margin-left: 3px;
  margin-right: 3px;
  font-size: small; }
  #footer p {
    font-size: 15px; }
  #footer .redes {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: end; }
  #footer .redes a,
  #footer i {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px 0 10px;
    color: black; }
  #footer .redes a,
  #footer i:hover {
    transform: scale(1.5);
    color: rgba(243, 174, 26, 0.705);
    transition: all 1s ease; }

@media screen and (min-width: 767px) {
  .imagen-mobile {
    display: none; } }

@media screen and (max-width: 767px) {
  #titulo h1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 30px;
    font-size: large; }
  #titulo h2 {
    display: flex;
    font-size: medium; }
  #subtitulo {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 0 0 10px 0; }
  .imagen-mobile {
    display: flex;
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-top: 70px; }
  .imagen-principal {
    display: none; }
  .footer {
    display: flex;
    font-size: x-small; }
    .footer p {
      text-align: start; }
    .footer .redes {
      max-width: 100%;
      max-height: 100%; }
    .footer .redes a,
    .footer i {
      font-size: 13px;
      color: black; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .imagen-principal {
    display: none; }
  .imagen-mobile {
    display: flex;
    object-fit: cover;
    margin-top: 70px; } }

@media screen and (max-width: 767px) {
  .grid-container-nosotros .nosotros-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center; }
  .grid-container-nosotros .nosotros-imagen {
    align-self: center;
    width: 400px;
    height: auto; }
  .grid-container-nosotros .container-imagen-nosotros:hover .nosotros-imagen {
    transform: none;
    transition: none; }
  .grid-container-nosotros .texto-nosotros {
    padding: 10px;
    margin-top: 10px 30px 10px 30px;
    font-size: 13px; } }

/*------Lugares----*/
@media screen and (max-width: 767px) {
  .lugares .titulo-viajes {
    text-align: center;
    font-family: monospace;
    margin-top: 10px; }
  .lugares .grid-container {
    display: grid;
    grid-template-columns: 1fr; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); } }

/*------- pagina de viajes---*/
@media screen and (max-width: 767px) {
  .titulo-mobile {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  .subtitulo-mobile {
    display: flex;
    justify-content: center; }
  .pagina-lugares {
    display: grid;
    max-width: 100%;
    max-height: 100%; }
  .grid-container-lugares {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 5px; }
  .titulo-lugares {
    display: none; } }

/*------- pagina de contacto---*/
.body-contacto {
  display: flex;
  flex-direction: column; }
  .body-contacto h1,
  .body-contacto p {
    font-size: large; }
  .body-contacto .ibody {
    width: 400px; }
