.navbar {

    ol,
    ul {
        list-style: none;

        a,
        a:active {
            text-decoration: none !important;
            color: black !important;
            border: 3px solid transparent;

            &:hover {
                background-color: rgba(243, 174, 26, 0.705);
            }
        }
    }

}

.titulo {
    h1 {
        font-weight: bold;
        margin: 20px 10px 0px 20px;
        font-size: 30px
    }
    h2 {
        margin: 0px 10px 1px 70px;
        font-size: 18px
    }
}

#subtitulo {
    margin: 0px 0px 20px 50px;
    font-size: 24px;

}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 800px;
    padding: 0;
    margin: 20px auto 0 auto;

}