.titulo {
    margin: 50px 50px 30px 50px;
    font-size: medium;
    margin: 50px 50px 30px 50px;

}

/*.menu {
    padding: 0;
    display: flex;
    align-items: top;
    justify-content: flex-end;
    color: black;

}

.menu li {
    margin: 10px;


}

.menu li a:hover {

    background-color: $Amarillo;
    transition: all .3s;

}

.menu-dropdown {
    position: absolute;
    visibility: hidden;
    z-index: 1000;
}

.menu li:hover .menu-dropdown {
    position: end;
    visibility: visible;
    padding: 0px;
    transition: 0.3s;
    opacity: 1;
    background-color: $Amarillo;

}
--*/

