@media screen and (min-width:767px) {
    .imagen-mobile {
        display: none;
    }
}


@media screen and (max-width:767px) {


    #titulo {
        h1 {
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            margin-left: 30px;
            font-size: large;
        }

        h2 {
            display: flex;
            font-size: medium;

        }
    }

    #subtitulo {
        display: flex;
        justify-content: center;
        font-size: small;
        margin: 0 0 10px 0;

    }

    .imagen-mobile {
        display: flex;
        width: 400px;
        height: 300px;
        object-fit: cover;
        margin-top: 70px;
    }

    .imagen-principal {
        display: none;
    }



    .footer {
        display: flex;
        font-size: x-small;

        p {
            text-align: start;

        }

        .redes {
            max-width: 100%;
            max-height: 100%;
        }

        .redes a,
        i {
            font-size: 13px;
            color: black;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .imagen-principal {
        display: none;
    }
    .imagen-mobile {
        display: flex;
        object-fit: cover;
        margin-top: 70px;
    }


}

@media screen and (max-width:767px) {
    .grid-container-nosotros {
        .nosotros-container {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            margin-left: 10px;
            align-items: center;
        }

        .nosotros-imagen {
            align-self: center;
            width: 400px;
            height: auto;
        }

        .container-imagen-nosotros:hover .nosotros-imagen {
            transform: none;
            transition: none;

        }

        .texto-nosotros {
            padding: 10px;
            margin-top: 10px 30px 10px 30px;
            font-size: 13px;
        }
    }
}

/*------Lugares----*/

@media screen and (max-width:767px) {

    .lugares {

        .titulo-viajes {
            text-align: center;
            font-family: $fontmonospace;
            margin-top: 10px;

        }

        .grid-container {

            display: grid;
            grid-template-columns: 1fr;




        }






    }


}


@media screen and (min-width:768px) and (max-width:1023px) {

    .grid-container {
        grid-template-columns: repeat(3, 1fr)
    }
}


/*------- pagina de viajes---*/

@media screen and (max-width:767px) {

    .titulo-mobile {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .subtitulo-mobile {
        display: flex;
        justify-content: center;

    }

    .pagina-lugares {
        display: grid;
        max-width: 100%;
        max-height: 100%;

    }

    .grid-container-lugares {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 5px;

    }

    .texto-lugares{

         .titulo-lugares {
        display: none;
    }

        p {
            margin-top: 30px;
        }

    }
   

}
@media screen and (min-width:768px) and (max-width:1023px){

    .titulo-lugares {
        display: none;
    }
    .titulo-mobile {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .subtitulo-mobile {
        display: flex;
        justify-content: center;

    }

    .pagina-lugares {
        display: grid;
        max-width: 100%;
        max-height: 100%;

    }

    .grid-container-lugares {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 5px;

    }
    .texto-lugares{

        p{
            margin: 30px 20px 0px 20px;

        }
    }
    
    .footer{
        margin-top: 20px;
    }


}

/*------- pagina de contacto---*/


.body-contacto {

    display: flex;
    flex-direction: column;

    h1,
    p {
        font-size: large;


    }

    .ibody {
        width: 400px;
    }




}