%titulos {
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
    
}

%flex {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

@mixin titulomobile {

    display: flex;
    justify-content: center;
       
    

}
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
    
}