* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: $Amarillo;
        color: black;

    }

}

body {
    background: whitesmoke;
    font-family: $fontmonospace;
    min-height: 100vh;

}

